body {
  background-image: url('../img/treats.jpg/');
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

label {
  display: block;
  margin: 10px;
  white-space: pre-line;
}

input {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

input[type=submit] {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  white-space: pre-line;
}

.content {
  background-color: rgba(220, 220, 220, 0.767);
  max-width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 5%;
  text-align: center;
}

.errorMessage {
  color: red;
}